<div class="head">
        <h1 class="pageName">Adding new Game</h1>
    </div>
    
    <div class="login">
        <div class= "card">
        <form [formGroup]= "addGameForm">
            <label>
                <h3>Game name:</h3>
                <input [(ngModel)]="newGameData.name" name="name"type ="text" formControlName = "name">
            </label>
            <label>
                <h3>Description:</h3>
                <input [(ngModel)]="newGameData.description" name="description"type ="text" formControlName = "description">
            </label>
            <label>
                <h3>Price:</h3>
                <input [(ngModel)]="newGameData.price" name="price"type ="number" formControlName = "price">
            </label>
        </form>
        <button (click)="addGame()" type="button" class="btn">Submit</button>
        <button (click)="BackToPrePage()" type="button" class="btn2">Cancel</button>
    </div>
    </div>
    