<div class="head">
    <h1 class="pageName">Login Page</h1>
</div>

<div class="login">
    <div class= "card">
    <form [formGroup]= "loginForm">
        <label>
            <h3>Account(Email):</h3>
            <input [(ngModel)]="loginUserData.email" name="email"type ="text" formControlName = "email">
        </label>

        <label>
            <h3>Password:</h3>
            <input [(ngModel)]="loginUserData.password" name="password"type ="password" formControlName = "password">
        </label>
    </form>
    <button (click)="loginUser()" type="button" class="btn">Login</button>
</div>
</div>